.navbar {
    background-color:white;
    color: #1e293b;
    padding: 1rem 2rem;
    margin: 0 auto;
    border: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
  }
  
  .navbar a {
    color: #1e293b;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    
  }
  
  .navbar a:hover {
    color: #DFE2DB;
    background-color: #6b7280;
    padding: 5px 10px;
    border-radius: 5px;
  }
 

.general-login {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #1e293b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.login {
  background-color: white;
  padding: 3rem 2.5rem;
  border-radius: 20px;
  box-shadow: 0 12px 35px #f7f9fc(103, 2, 61, 0.2);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.login h1 {
  color: #1e293b;
  margin-bottom: 2rem;
}


.login input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease;
}

.login input:focus {
  border-color: #67023D;
}


.login label {
  align-self: flex-start;
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: #333;
}


.login button {
  width: 100%;
  padding: 0.9rem;
  background-color:#1e293b;
  color: #f1f5f9;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login p {
  text-align: center;
  margin-top: 1rem;
  color: #444;
}

.deeperhome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #f7f9fc;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLv9xjlSjV03F2VG28Wgpp2_f4EQzh6pe3-g&s)
}

.home {
  width: 100%;
  max-width: 800px;
  margin-bottom: 2rem;
}

.welcome {
  background-color: #67023D;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
  max-width: 600px;
  width: 100%;
  color: #f7f9fc;
  
}

 .welcome:hover {
  transform: translateY(-4px);
} 

.text1 {
  color: #4a4a4a;
  font-size: 45px ;
  
}

.text2 {
  color: #6b7280;
  font-size: 30px;
  
} 

.aboutus{
  background-color: #1e293b;
  margin: 0;
  padding: 0;

}
header {
  background-color: #1e293b; 
}
.innerus {
 
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #1e293b;
}
h1 {
  font-size: 2rem;
  color: #60a5fa; 
  margin-bottom: 1rem;
  font-family: 'Times New Roman', Times, serif;
}
h2 {
  font-size: 1.75rem;
  color: #38bdf8;
  margin-top: 2rem;
}

h3 {
  font-size: 1.3rem;
  color: #93c5fd;
  margin-top: 1.5rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.6;
  color: #f1f5f9;
  margin-bottom: 1rem;
}


ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  color: #ccc;
  font-size: large;
}




